body {
    background-color: #0072E3;
    font-family: "Pixel", sans-serif;
    letter-spacing: 1px;
    overflow-x:hidden;
    overflow-y:hidden;
}
@font-face {
    font-family: "Pixel";
    src: url("PressStart2P-Regular.ttf") format("TrueType");
}
* {
    box-sizing: border-box;
}

div {
    display: inline-block;
}

div.back {
    width: 100%;
    height: 100%;
    padding: 40px;
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: center;
    color: white;
}

div.left {
    background-color: #fff;
    border-radius: 15px 0px 0px 15px;
    width: 25%;
    height: 100%;
    text-align: center;
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.left div {
    background-color: #0072E3;
    border-radius: 15px;

    width: 99%;
    border: solid 5px #fff;
    letter-spacing: 0px;
}

div.gametitle {
    height: 14%;
    line-height: 60px;
}

img {
    padding: 5px;
    display: inline-block;
}

div.startstopbutton {
    display: inline-block;
    height: 42%;
}

[class|="button"] {
    position: static;
    padding: 0px 0px;
    width: 0;
    height: 0;
    font-size: 0px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

div.player1 {
    height: 14%;
}

div.player2 {
    height: 14%;
}

div.player3 {
    height: 14%;
}

/* 右邊 */
div.right {
    background-color: #0072E3;
    flex: 2;
    width: 75%;
    height: 100%;
    border: solid 7px #fff;
    border-radius: 0px 15px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right h4 {
    background-color: #01B468;
    width: 130px;
    height: 130px;
    display: inline-block;
    margin: 0px;
    text-align: center;
    line-height: 60px;
}

div.safeplacetop {
    display: flex;
    justify-content: space-between;
    letter-spacing: 0px;
    text-align: center;
}
#enter {
    background-color: #01B468;
    border: solid 3px #fff;
    color:#fff;
    width:40%;
    height:50%;
    text-align:center;
    line-height: 40px;
    margin:0 auto;
}
#entername{
    line-height: 38px;
}
#outcome{
    background-color: #01B468;
    border: solid 3px #fff;
    color:black;
    width:30%;
    height:60%;
    text-align:center;
    line-height: 40px;
    margin:0 auto;
    position:absolute;
    top:20%;
    right:20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: -1;
}
div.safeplacebottom {
    display: flex;
    justify-content: space-between;
    letter-spacing: 0px;
    text-align: center;
    position: relative;
}

.back .object {
    position: absolute;
    z-index: 1;
}

.back #player2-1 {
    width: 3%;
    top: 80px;
}

.back #player1-1 {
    width: 4%;
    top: 80px;
    left: 800px;
}

.back #ghost {
    width: 4%;
    top: 500px;
    left: 800px;
}